<div class="dice-tooltip fitd-die-tooltip">
  {{#if attribute}}<div class="chat-label label-stripe-chat">{{attribute}}</div>{{/if}}
  {{#if (ne attribute "fortune")}}
    <div class="chat-label-small label-stripe-chat-small">
      {{{localize position_localize}}} | {{{localize effect_localize}}}
    </div>
  {{/if}}
  {{#if purpose}}<div class="chat-label-small label-stripe-chat-small">{{purpose}}</div>{{/if}}

  {{#if zeromode}}
    <div class="chat-label-small-red label-stripe-chat-small-red">
      {{{localize "FitDRoller.RollZeromode"}}}
    </div>
  {{/if}}

  {{#if (eq roll_status "critical-success")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollCriticalSuccess"}}</div>
  <div class="description">
    {{#if custom.criticalSuccess}}
      <p>{{{custom.criticalSuccess}}}</p>
    {{else}}
      <p>{{{localize "FitDRoller.RollDoWithIncreasedEffect"}}}</p>
    {{/if}}
	{{#if (eq position "desperate")}}
    <p>
      {{#if custom.desperateBonus}}
        {{{custom.desperateBonus}}}
      {{else}}
        {{{localize "FitDRoller.RollXP"}}}
      {{/if}}
    </p>
	{{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "success")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollSuccess"}}</div>
  <div class="description">
    {{#if custom.success}}
      <p>{{{custom.success}}}</p>
    {{else}}
      <p>{{{localize "FitDRoller.RollDo"}}}</p>
    {{/if}}

	{{#if (eq position "desperate")}}
    <p>
      {{#if custom.desperateBonus}}
        {{{custom.desperateBonus}}}
      {{else}}
        {{{localize "FitDRoller.RollXP"}}}
      {{/if}}
    </p>
	{{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "partial-success")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollPartialSuccess"}}</div>
  <div class="description">
    <p>
      {{#if (eq position "controlled")}}
        {{#if custom.partialSuccessControlled}}
          {{{custom.partialSuccessControlled}}}
        {{else}}
          {{{localize "FitDRoller.RollPartialSuccessPositionControlled"}}}
        {{/if}}
      {{else if (eq position "risky")}}
        {{#if custom.partialSuccessRisky}}
          {{{custom.partialSuccessRisky}}}
        {{else}}
          {{{localize "FitDRoller.RollPartialSuccessPositionRisky"}}}
        {{/if}}
      {{else}}
        {{#if custom.partialSuccessDesperate}}
          {{{custom.partialSuccessDesperate}}}
        {{else}}
          {{{localize "FitDRoller.RollPartialSuccessPositionDesperate"}}}
        {{/if}}
      {{/if}}
    </p>
	{{#if (eq position "desperate")}}
    <p>
      {{#if custom.desperateBonus}}
        {{{custom.desperateBonus}}}
      {{else}}
        {{{localize "FitDRoller.RollXP"}}}
      {{/if}}
    </p>
	{{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "failure")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollFailure"}}</div>
  <div class="description">
    <p>
      {{#if (eq position "controlled")}}
        {{#if custom.failureControlled}}
          {{{custom.failureControlled}}}
        {{else}}
          {{{localize "FitDRoller.RollFailurePositionControlled"}}}
        {{/if}}
      {{else if (eq position "risky")}}
        {{#if custom.failureRisky}}
          {{{custom.failureRisky}}}
        {{else}}
          {{{localize "FitDRoller.RollFailurePositionRisky"}}}
        {{/if}}
      {{else}}
        {{#if custom.failureDesperate}}
          {{{custom.failureDesperate}}}
        {{else}}
          {{{localize "FitDRoller.RollFailurePositionDesperate"}}}
        {{/if}}
      {{/if}}
    </p>
	{{#if (eq position "desperate")}}
    <p>
      {{#if custom.desperateBonus}}
        {{{custom.desperateBonus}}}
      {{else}}
        {{{localize "FitDRoller.RollXP"}}}
      {{/if}}
    </p>
	{{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "extreme")}}
    <div class="die {{roll_status}}">{{localize "FitDRoller.RollExtremeEffect"}}</div>
    <div class="description">
      <p>
        {{#if custom.fortuneExtreme}}
          {{{custom.fortuneExtreme}}}
        {{else}}
          {{{localize "FitDRoller.RollExtremeEffectDescription"}}}
        {{/if}}
      </p>
    </div>
  {{/if}}

  {{#if (eq roll_status "great")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollGreatEffect"}}</div>
  <div class="description">
    <p>
      {{#if custom.fortuneGreat}}
        {{{custom.fortuneGreat}}}
      {{else}}
        {{{localize "FitDRoller.RollGreatEffectDescription"}}}
      {{/if}}
    </p>
  </div>
  {{/if}}

  {{#if (eq roll_status "standard")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollStandardEffect"}}</div>
  <div class="description">
    <p>
      {{#if custom.fortuneStandard}}
        {{{custom.fortuneStandard}}}
      {{else}}
        {{{localize "FitDRoller.RollStandardEffectDescription"}}}
      {{/if}}
    </p>
  </div>
  {{/if}}

  {{#if (eq roll_status "limited")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollLimitedEffect"}}</div>
  <div class="description">
    <p>
      {{#if custom.fortuneLimited}}
        {{{custom.fortuneLimited}}}
      {{else}}
        {{{localize "FitDRoller.RollLimitedEffectDescription"}}}
      {{/if}}
    </p>
  </div>
  {{/if}}

  {{#if (eq roll_status "zero")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollZeroEffect"}}</div>
  <div class="description">
    <p>
      {{#if custom.fortuneZero}}
        {{{custom.fortuneZero}}}
      {{else}}
        {{{localize "FitDRoller.RollZeroEffectDescription"}}}
      {{/if}}
    </p>
  </div>
  {{/if}}

  <ol class="dice-rolls">
    {{#each this.rolls}}
      {{#if this.result}}
        <li class="roll die fitdd6 {{../this.color}}"{{#if (eq this.result 6)}}style="color: green;"{{else if (eq this.result 3)}}style="color: red;"{{else if (eq this.result 2)}}style="color: red;"{{else if (eq this.result 1)}}style="color: red;"{{/if}}>{{{this.result}}}</li>
      {{/if}}
    {{/each}}
    {{#if @root.method}}
      {{#unless (eq @root.method.type "mersenne")}}
        <li class="roll method" data-tooltip="{{localize @root.method.label}}">{{{ @root.method.icon }}}</li>
      {{/unless}}
    {{/if}}
  </ol>
</div>
