<div class="dice-tooltip sav-die-tooltip">
    {{#if attribute}}<div class="chat-label label-stripe-chat">{{attribute}}</div>{{/if}}
	<div class="chat-label-small label-stripe-chat-small">
      {{{localize position_localize}}} | {{{localize effect_localize}}}
    </div>

  {{#if zeromode}}
    <div class="chat-label-small-red label-stripe-chat-small-red">
      {{{localize "FitDRoller.RollZeromode"}}}
    </div>
  {{/if}}

  {{#if (eq roll_status "critical-success")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollCriticalSuccess"}}</div>
  <div class="description">
    <p>{{{localize "FitDRoller.RollDoWithIncreasedEffect"}}}</p>
	
	{{#if (eq position "desperate")}}
	<p>{{{localize "FitDRoller.RollXP"}}}</p>
	{{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "success")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollSuccess"}}</div>
  <div class="description">
    <p>{{{localize "FitDRoller.RollDo"}}}</p>
    
	{{#if (eq position "desperate")}}
	<p>{{{localize "FitDRoller.RollXP"}}}</p>
	{{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "partial-success")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollPartialSuccess"}}</div>
  <div class="description">
    <p>
      {{#if (eq position "controlled")}}
      {{{localize "FitDRoller.RollPartialSuccessPositionControlled"}}}
      {{else if (eq position "risky")}}
      {{{localize "FitDRoller.RollPartialSuccessPositionRisky"}}}
      {{else}}
      {{{localize "FitDRoller.RollPartialSuccessPosition"}}}
      {{/if}}
    </p>
	{{#if (eq position "desperate")}}
	<p>{{{localize "FitDRoller.RollXP"}}}</p>
	{{/if}}
  </div>
  {{/if}}

  {{#if (eq roll_status "failure")}}
  <div class="die {{roll_status}}">{{localize "FitDRoller.RollFailure"}}</div>
  <div class="description">
    <p>
      {{#if (eq position "controlled")}}
      {{{localize "FitDRoller.RollFailurePositionControlled"}}}
      {{else if (eq position "risky")}}
      {{{localize "FitDRoller.RollFailurePositionRisky"}}}
      {{else}}
      {{{localize "FitDRoller.RollFailurePositionDesperate"}}}
      {{/if}}
    </p>
	{{#if (eq position "desperate")}}
	<p>{{{localize "FitDRoller.RollXP"}}}</p>
	{{/if}}
  </div>
  {{/if}}



  <ol class="dice-rolls">
    {{#each this.rolls}}
    {{#if this.result}}
    <li class="roll die d6"{{#if (eq this.result 6)}}style="color: green;"{{else if (eq this.result 3)}}style="color: red;"{{else if (eq this.result 2)}}style="color: red;"{{else if (eq this.result 1)}}style="color: red;"{{/if}}>{{{this.result}}}</li>
    {{/if}}
    {{/each}}
  </ol>
</div>
