<form>

  <h3>{{{localize "FitDRoller.RollPurpose"}}}</h3>
  <div>
    <input id="roll-purpose" type="text" name="purpose">
  </div>

  <hr style="margin: 3px;">

  <h3>{{{localize "FitDRoller.RollNumberOfDice"}}}:</h3>
  <div class="rollRadio2" id="numberOfDice">
    {{#times_from_0 numDice}}
      <input type="radio" id="{{this}}d" name="dice" value="{{this}}" />
      <label for="{{this}}d" class="diceNumber {{#if (eq this 0)}}bgRed{{/if}}">{{this}}</label>
    {{/times_from_0}}
    <button  id="fortune-roll" name="fortune-roll" value="fortune" class="fortune-roll">{{{localize "FitDRoller.FortuneRoll"}}}</button>
  </div>

  <hr style="margin: 3px;">

  <h3>{{{localize "FitDRoller.TablePosEffect"}}}</h3>

  <table id="rollMatrix">
    <colgroup>
    <col class="first-col">
    <col class="fx-col">
    <col class="fx-col">
    <col class="fx-col">
    <col class="fx-col">
    {{#if useExtreme}}
      <col class="fx-col">
    {{/if}}
    </colgroup>

    <tr>
      <th></th>
      <th><label>{{{localize "FitDRoller.EffectZero"}}}</label></th>
      <th><label>{{{localize "FitDRoller.EffectLimited"}}}</label></th>
      <th><label>{{{localize "FitDRoller.EffectStandard"}}}</label></th>
      <th><label>{{{localize "FitDRoller.EffectGreat"}}}</label></th>
      {{#if useExtreme}}
        <th><label>{{{localize "FitDRoller.EffectExtreme"}}}</label></th>
      {{/if}}
    </tr>

    <tr>
      <td><label>{{{localize "FitDRoller.PositionControlled"}}}</label></td>
      <td><button type="button" name="bt01" value="bt01" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt02" value="bt02" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt03" value="bt03" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt04" value="bt04" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      {{#if useExtreme}}
        <td><button type="button" name="bt05" value="bt05" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      {{/if}}
    </tr>

    <tr>
      <td><label>{{{localize "FitDRoller.PositionRisky"}}}</label></td>
      <td><button type="button" name="bt06" value="bt06" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt07" value="bt07" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt08" value="bt08" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt09" value="bt09" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      {{#if useExtreme}}
        <td><button type="button" name="bt10" value="bt10" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      {{/if}}
    </tr>

    <tr>
      <td><label>{{{localize "FitDRoller.PositionDesperate"}}}</label></td>
      <td><button type="button" name="bt11" value="bt11" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt12" value="bt12" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt13" value="bt13" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      <td><button type="button" name="bt14" value="bt14" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      {{#if useExtreme}}
        <td><button type="button" name="bt15" value="bt15" class="rollButton" data-text={{{localize "FitDRoller.FitDRollerRollOverText"}}}></td>
      {{/if}}
    </tr>
  </table>

</form>