:root {
	--almost_white: #eeefff;
	--red: #ff0000;
	--holoblue: #33b5e5;
	--holobluemed: #84d2ef;
	--holobluelt: #ade1f4;
	--redmed: #ff6666;
	--redlt: #ffb2b2;
	--darkblue: #001324;
}
* .fitd-die-tooltip header {
  margin-bottom: 10px;
}
* .fitd-die-tooltip ul {
  list-style: none;
}
* .fitd-die-tooltip .dialog-buttons {
	margin-top: 5px;
}
* .fitd-die-tooltip textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}
* .fitd-die-tooltip td {
  padding: 5px;
}
* .fitd-die-tooltip section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* section > * .fitd-die-tooltip:not(.label-stripe) {
  margin-right: 10px;
}
* section > * .fitd-die-tooltip:not(.label-stripe):last-child {
  margin-right: 0px;
}
* .fitd-die-tooltip section .grow-one {
  flex-grow: 1;
}
* .fitd-die-tooltip section .grow-two {
  flex-grow: 2;
}
* .fitd-die-tooltip section.experience {
  margin-bottom: 0px;
  justify-content: center;
}
* .fitd-die-tooltip nav {
  margin-bottom: 10px;
}
* .fitd-die-tooltip .editor,
* .fitd-die-tooltip .editor-content {
  min-height: 280px;
}
* .fitd-die-tooltip .flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* .fitd-die-tooltip .flex-vertical {
  display: flex;
  flex-direction: column;
}
* .fitd-die-tooltip .black-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .fitd-die-tooltip .gray-label {
  background-color: #999;
  color: #191813;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .fitd-die-tooltip .chat-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .fitd-die-tooltip .chat-label-small {
  background-color: #999;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}
* .fitd-die-tooltip .chat-label-small-red {
  background-color: red;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
}
* .fitd-die-tooltip .label-stripe {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .fitd-die-tooltip .label-stripe .hoverlink {
  cursor: pointer;
  transition: filter 0.1s;
}
* .fitd-die-tooltip .label-stripe .hoverlink:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .fitd-die-tooltip .label-stripe-red {
  text-transform: uppercase;
  background-color: #191813;
  color: red;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .fitd-die-tooltip .label-stripe-gray {
  text-transform: uppercase;
  background-color: #92a6ad;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .fitd-die-tooltip .label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  margin: 0;
}
* .fitd-die-tooltip .label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #999;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .fitd-die-tooltip .label-stripe-chat-small-red {
  text-transform: capitalize;
  background-color: red;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .fitd-die-tooltip .description {
  font-style: italic;
}
* .fitd-die-tooltip .tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
}
* .fitd-die-tooltip .tooltip:hover .tooltiptext {
  visibility: visible;
}
* .fitd-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
  margin-top: 10px;
}
* .fitd-die-tooltip .die.great,
* .fitd-die-tooltip .die.critical-resist,
* .fitd-die-tooltip .die.critical-success {
  color: #12a012;
}
* .fitd-die-tooltip .die.nodamage,
* .fitd-die-tooltip .die.standard,
* .fitd-die-tooltip .die.resist,
* .fitd-die-tooltip .die.success {
  color: #008000;
}
* .fitd-die-tooltip .die.malfunction,
* .fitd-die-tooltip .die.limited,
* .fitd-die-tooltip .die.partial-success {
  color: #04578f;
}
* .fitd-die-tooltip .die.damaged,
* .fitd-die-tooltip .die.poor,
* .fitd-die-tooltip .die.failure,
* .fitd-die-tooltip .die.zero {
  color: red;
}
* .dice-tooltip.fitd-die-tooltip .dice-rolls .roll.die.fitdd6.black {
  background-image: url(../icons/d6-black.svg) !important;
  color: var(--almost_white);
}
* .dice-tooltip.fitd-die-tooltip .dice-rolls .roll.die.fitdd6.gray {
  background-image: url(../icons/d6-grey.svg) !important;
}
/*Alternative*/

.svg-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  fill: currentColor
}

#rollMatrix {
  flex: 1;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

/* #rollMatrix td, #rollMatrix th {
} */

#rollMatrix td {
  text-align: center;
  vertical-align: middle;
}

#rollMatrix tr:nth-child(even){background-color: #c4c4c4cb;}

#rollMatrix tr:hover {background-color: #ddd;}

#rollMatrix th {
  background-color: #191813;
  color: var(--almost_white);
  padding: 0;
  margin: 0;
  font-size: small;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}

.first-col{
  font-size: smaller;
  width: 20%;
}

.rollButton {
  background: url('../icons/d6_btn.svg') no-repeat;
  background-size: 100%;
  opacity: 20%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  padding: 0px;
}

.rollButton:hover {
  background-image: none;
  background-color: #191813;
  color: #eeefff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  opacity: 100%;
  font-size: smaller;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: filter 0.1s;
  padding: 0px;
}

.rollButton:hover:after {
  content: attr(data-text);
  line-height: 25px;
  padding: 0px;
  font-size:smaller;
  margin: auto;
}

.diceNumber{
  background-color: #252525;
  border-radius: 4px;
  color: var(--almost_white);
  width: 30px;
  height: 30px;
  line-height: 30px;
  opacity: 40%;
  padding: 0px;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: large;
  font-weight:normal;
}

.bgRed{
  background-color: var(--red);
}

.bgBlue{
  background-color: var(--holoblue);
}

.fortune-roll {
  width: 55px;
  height: 50px;
  line-height: 1.4;
  background-color: #04578f;
  border-radius: 5px;
  color: var(--almost_white);
  word-break: break-word;
  padding: 0;
  font-size: smaller;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.fortune-roll:hover{
  background-color: var(--redmed);
}

.diceNumber input:checked + label{
  color: white;
  opacity: 100%;
  outline: none;
  box-shadow: 0 0 5px var(--red);
  text-decoration: none;
  font-weight: 800;
}

.diceNumber input:hover, .diceNumber input:focus{
  outline: none;
  box-shadow: 0 5px var(--red);
}

.rollRadio2{
  justify-content: space-around;
  align-items: center;
  gap: 6px;
  margin: 0px;
}

* form .form-group.roll > * {
  flex: 1;
}

* form .rollRadio2 input {
  display: none;
}

* form .rollRadio2 label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: filter 0.1s;
  cursor: pointer;
  padding: 0;
}

* form div.rollRadio2 {
  display: flex;
}

* form .rollRadio2 input:checked + label {
  color: #eeefff;
  font-weight: 700;
  opacity: 100%;
}

* form .rollRadio2 input:hover + label {
  color: #eeefff;
  font-weight: 700;
  opacity: 100%;
  outline: none;
  box-shadow: 0 0 6px var(--redmed);
}
